In [35]:
import pandas as pd
df = pd.read_csv('customer_churn_data.csv')
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [36]:
df.drop('customerID', axis=1, inplace=True) #Removing CustomerID Because it has no use in this model

In [37]:
df.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [38]:
#Converting the TotalCharges column from string to numeric
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'],errors='coerce')

In [39]:
df.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [40]:
df.dropna(inplace=True) #Removing all the Null values in the dataset

In [41]:
df.shape

(7032, 20)

In [42]:
for column in df.columns:
    unique_values = df[column].unique()
    print(f"'{column}': {unique_values}")

'gender': ['Female' 'Male']
'SeniorCitizen': [0 1]
'Partner': ['Yes' 'No']
'Dependents': ['No' 'Yes']
'tenure': [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26 39]
'PhoneService': ['No' 'Yes']
'MultipleLines': ['No phone service' 'No' 'Yes']
'InternetService': ['DSL' 'Fiber optic' 'No']
'OnlineSecurity': ['No' 'Yes' 'No internet service']
'OnlineBackup': ['Yes' 'No' 'No internet service']
'DeviceProtection': ['No' 'Yes' 'No internet service']
'TechSupport': ['No' 'Yes' 'No internet service']
'StreamingTV': ['No' 'Yes' 'No internet service']
'StreamingMovies': ['No' 'Yes' 'No internet service']
'Contract': ['Month-to-month' 'One year' 'Two year']
'PaperlessBilling': ['Yes' 'No']
'PaymentMethod': ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
'MonthlyCharges': [29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
'TotalCharges': [  29.85 1889.5   108.15 ...  346.45  306.6  6844.5 ]
'Churn': ['No' 'Yes']

In [43]:
df.replace({'No internet service':'No'}, inplace=True)
df.replace({'No phone service':'No'}, inplace=True)

In [44]:
for column in df.columns:
    unique_values = df[column].unique()
    print(f"'{column}': {unique_values}")

'gender': ['Female' 'Male']
'SeniorCitizen': [0 1]
'Partner': ['Yes' 'No']
'Dependents': ['No' 'Yes']
'tenure': [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26 39]
'PhoneService': ['No' 'Yes']
'MultipleLines': ['No' 'Yes']
'InternetService': ['DSL' 'Fiber optic' 'No']
'OnlineSecurity': ['No' 'Yes']
'OnlineBackup': ['Yes' 'No']
'DeviceProtection': ['No' 'Yes']
'TechSupport': ['No' 'Yes']
'StreamingTV': ['No' 'Yes']
'StreamingMovies': ['No' 'Yes']
'Contract': ['Month-to-month' 'One year' 'Two year']
'PaperlessBilling': ['Yes' 'No']
'PaymentMethod': ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
'MonthlyCharges': [29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
'TotalCharges': [  29.85 1889.5   108.15 ...  346.45  306.6  6844.5 ]
'Churn': ['No' 'Yes']

In [45]:
yes_no_columns = ['Partner','Dependents','PhoneService','MultipleLines','OnlineSecurity',
                  'OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies',
                  'PaperlessBilling','Churn']
for column in yes_no_columns:
    df[column].replace({'Yes':1,'No':0},inplace=True)

/var/folders/34/17b5rnmj285d25c1t63cnbf00000gn/T/ipykernel_38687/940353359.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].replace({'Yes':1,'No':0},inplace=True)
/var/folders/34/17b5rnmj285d25c1t63cnbf00000gn/T/ipykernel_38687/940353359.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[column].replace({'Yes':1,'No':0},inplace=True)

In [46]:
for column in df.columns:
    unique_values = df[column].unique()
    print(f"'{column}': {unique_values}")

'gender': ['Female' 'Male']
'SeniorCitizen': [0 1]
'Partner': [1 0]
'Dependents': [0 1]
'tenure': [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26 39]
'PhoneService': [0 1]
'MultipleLines': [0 1]
'InternetService': ['DSL' 'Fiber optic' 'No']
'OnlineSecurity': [0 1]
'OnlineBackup': [1 0]
'DeviceProtection': [0 1]
'TechSupport': [0 1]
'StreamingTV': [0 1]
'StreamingMovies': [0 1]
'Contract': ['Month-to-month' 'One year' 'Two year']
'PaperlessBilling': [1 0]
'PaymentMethod': ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
'MonthlyCharges': [29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
'TotalCharges': [  29.85 1889.5   108.15 ...  346.45  306.6  6844.5 ]
'Churn': [0 1]

In [47]:
df['gender'].replace({'Female':1,'Male':0}, inplace=True)

/var/folders/34/17b5rnmj285d25c1t63cnbf00000gn/T/ipykernel_38687/3536805919.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['gender'].replace({'Female':1,'Male':0}, inplace=True)
/var/folders/34/17b5rnmj285d25c1t63cnbf00000gn/T/ipykernel_38687/3536805919.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['gender'].replace({'Female':1,'Male':0}, inplace=True)

In [48]:
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler
cols_to_scale = ['tenure','MonthlyCharges','TotalCharges']

scaler = MinMaxScaler()
df[cols_to_scale]=scaler.fit_transform(df[cols_to_scale])

In [59]:
cleaned_data_frame = pd.get_dummies(data=df, columns=['InternetService','Contract','PaymentMethod'])
cleaned_data_frame.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'OnlineSecurity', 'OnlineBackup',
       'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies',
       'PaperlessBilling', 'MonthlyCharges', 'TotalCharges', 'Churn',
       'InternetService_DSL', 'InternetService_Fiber optic',
       'InternetService_No', 'Contract_Month-to-month', 'Contract_One year',
       'Contract_Two year', 'PaymentMethod_Bank transfer (automatic)',
       'PaymentMethod_Credit card (automatic)',
       'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check'],
      dtype='object')

In [60]:
cleaned_data_frame.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,...,InternetService_DSL,InternetService_Fiber optic,InternetService_No,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,1,0,1,0,0.000000,0,0,0,1,0,...,True,False,False,True,False,False,False,False,True,False
1,0,0,0,0,0.464789,1,0,1,0,1,...,True,False,False,False,True,False,False,False,False,True
2,0,0,0,0,0.014085,1,0,1,1,0,...,True,False,False,True,False,False,False,False,False,True
3,0,0,0,0,0.619718,0,0,1,0,1,...,True,False,False,False,True,False,True,False,False,False
4,1,0,0,0,0.014085,1,0,0,0,0,...,False,True,False,True,False,False,False,False,True,False

In [61]:
cleaned_data_frame.replace({'True':1,'False':0},inplace=True)

In [63]:
cleaned_data_frame.dtypes

gender                                       int64
SeniorCitizen                                int64
Partner                                      int64
Dependents                                   int64
tenure                                     float64
PhoneService                                 int64
MultipleLines                                int64
OnlineSecurity                               int64
OnlineBackup                                 int64
DeviceProtection                             int64
TechSupport                                  int64
StreamingTV                                  int64
StreamingMovies                              int64
PaperlessBilling                             int64
MonthlyCharges                             float64
TotalCharges                               float64
Churn                                        int64
InternetService_DSL                           bool
InternetService_Fiber optic                   bool
InternetService_No                            bool
Contract_Month-to-month                       bool
Contract_One year                             bool
Contract_Two year                             bool
PaymentMethod_Bank transfer (automatic)       bool
PaymentMethod_Credit card (automatic)         bool
PaymentMethod_Electronic check                bool
PaymentMethod_Mailed check                    bool
dtype: object

In [66]:
cleaned_data_frame = cleaned_data_frame.map(lambda x: 1 if x == True else (0 if x == False else x))

In [67]:
cleaned_data_frame.dtypes

gender                                       int64
SeniorCitizen                                int64
Partner                                      int64
Dependents                                   int64
tenure                                     float64
PhoneService                                 int64
MultipleLines                                int64
OnlineSecurity                               int64
OnlineBackup                                 int64
DeviceProtection                             int64
TechSupport                                  int64
StreamingTV                                  int64
StreamingMovies                              int64
PaperlessBilling                             int64
MonthlyCharges                             float64
TotalCharges                               float64
Churn                                        int64
InternetService_DSL                          int64
InternetService_Fiber optic                  int64
InternetService_No                           int64
Contract_Month-to-month                      int64
Contract_One year                            int64
Contract_Two year                            int64
PaymentMethod_Bank transfer (automatic)      int64
PaymentMethod_Credit card (automatic)        int64
PaymentMethod_Electronic check               int64
PaymentMethod_Mailed check                   int64
dtype: object

In [69]:
X = cleaned_data_frame.drop('Churn',axis=1)
y = cleaned_data_frame['Churn']

In [70]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=10)

In [71]:
X_train.shape

(5274, 26)

In [84]:
model = tf.keras.Sequential([
    tf.keras.Input(shape=(26,)),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(32, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

In [89]:
model.compile(optimizer='sgd',loss='binary_crossentropy', metrics=['accuracy'])

In [90]:
model.fit(X_train, y_train, epochs=10)

Epoch 1/10
165/165 ━━━━━━━━━━━━━━━━━━━━ 0s 369us/step - accuracy: 0.8132 - loss: 0.3959
Epoch 2/10
165/165 ━━━━━━━━━━━━━━━━━━━━ 0s 334us/step - accuracy: 0.8129 - loss: 0.4001
Epoch 3/10
165/165 ━━━━━━━━━━━━━━━━━━━━ 0s 307us/step - accuracy: 0.8170 - loss: 0.3864
Epoch 4/10
165/165 ━━━━━━━━━━━━━━━━━━━━ 0s 305us/step - accuracy: 0.8205 - loss: 0.3933
Epoch 5/10
165/165 ━━━━━━━━━━━━━━━━━━━━ 0s 304us/step - accuracy: 0.8160 - loss: 0.3979
Epoch 6/10
165/165 ━━━━━━━━━━━━━━━━━━━━ 0s 306us/step - accuracy: 0.8143 - loss: 0.3921
Epoch 7/10
165/165 ━━━━━━━━━━━━━━━━━━━━ 0s 313us/step - accuracy: 0.8186 - loss: 0.3931
Epoch 8/10
165/165 ━━━━━━━━━━━━━━━━━━━━ 0s 316us/step - accuracy: 0.8138 - loss: 0.3959
Epoch 9/10
165/165 ━━━━━━━━━━━━━━━━━━━━ 0s 320us/step - accuracy: 0.8175 - loss: 0.3864
Epoch 10/10
165/165 ━━━━━━━━━━━━━━━━━━━━ 0s 327us/step - accuracy: 0.8198 - loss: 0.3912

In [106]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
import numpy as np

# Predicting on the test set
y_pred = model.predict(X_test)
print(y_pred)
y_pred = (y_pred > 0.5).astype(int)  # Converting probabilities to binary predictions
print(y_pred)
cm = confusion_matrix(y_test, y_pred)


print("Confusion Matrix:")
print(cm)
print("Accuracy Score:", accuracy_score(y_test, y_pred))
print("Classfication Report:\n", classification_report(y_test, y_pred))

55/55 ━━━━━━━━━━━━━━━━━━━━ 0s 283us/step
[[0.00735314]
 [0.00726056]
 [0.38527995]
 ...
 [0.00480332]
 [0.48851445]
 [0.07641944]]
[[0]
 [0]
 [0]
 ...
 [0]
 [0]
 [0]]
Confusion Matrix:
[[1155  142]
 [ 205  256]]
Accuracy Score: 0.8026166097838453
Classfication Report:
               precision    recall  f1-score   support

           0       0.85      0.89      0.87      1297
           1       0.64      0.56      0.60       461

    accuracy                           0.80      1758
   macro avg       0.75      0.72      0.73      1758
weighted avg       0.80      0.80      0.80      1758

In [99]:
feature_importance = np.abs(weights).sum(axis=0)
print("Feature Importance (Absolute Sum of Weights):")
for i, feature_name in enumerate(X):
    print(f"{feature_name}: {feature_importance[i]}")

Feature Importance (Absolute Sum of Weights):
gender: 4.198748588562012
SeniorCitizen: 3.576122522354126
Partner: 2.985886573791504
Dependents: 3.8696117401123047
tenure: 3.638629913330078
PhoneService: 3.9044203758239746
MultipleLines: 3.6734719276428223
OnlineSecurity: 3.6195709705352783
OnlineBackup: 3.191758632659912
DeviceProtection: 4.501075744628906
TechSupport: 3.561635971069336
StreamingTV: 3.6615545749664307
StreamingMovies: 3.8998889923095703
PaperlessBilling: 3.3327760696411133
MonthlyCharges: 2.705972194671631
TotalCharges: 2.9916865825653076
InternetService_DSL: 3.8318028450012207
InternetService_Fiber optic: 3.6555819511413574
InternetService_No: 3.932215929031372
Contract_Month-to-month: 3.2905161380767822
Contract_One year: 3.442554473876953
Contract_Two year: 3.5224294662475586
PaymentMethod_Bank transfer (automatic): 3.472346305847168
PaymentMethod_Credit card (automatic): 3.3296549320220947
PaymentMethod_Electronic check: 3.1369142532348633
PaymentMethod_Mailed check: 3.4629552364349365